@model OnlineStore.Web.Models.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Online Store";
}

@section styles {
    @Styles.Render("~/Content/css/carousel.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/bootstrap/docs.min.js")
    @Scripts.Render("~/Scripts/bootstrap/ie10-viewport-bug-workaround.js")
    @Scripts.Render("~/Scripts/carousel/jssor.slider.mini.js")
    @Scripts.Render("~/Scripts/carousel/carousel.js")
}

<section class="row">
    @Html.Partial("_CarouselPartial")
</section>

<section class="row">
    <div class="col-xs-12 col-md-4 col-lg-4">
        <h2>Discounted</h2>
        @Html.DisplayFor(m => m.DiscountedProducts)
        <footer>
            <a href="#" class="pull-right">View All Discounted</a>
        </footer>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h2>Most Popular</h2>
        @Html.DisplayFor(m => m.MostPopularProducts)
        <footer>
            <a href="#" class="pull-right">View All Most Popular</a>
        </footer>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
        <h2>Top Rated</h2>
        @Html.DisplayFor(m => m.TopRatedProducts)
        <footer>
            <a href="#" class="pull-right">View All Top Rated</a>
        </footer>
    </div>
</section>
