@using OnlineStore.Web.Controllers

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="top-buffer">
            @using (Ajax.BeginForm<ShoppingCartController>(
                sc => sc.GetItems(),
                null,
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "shopping-cart-items-container",
                    OnComplete = "showWindow"
                }))
            {
                <button type="submit" class="link-button"><i class="fa fa-shopping-cart icon-with-padding"></i><span class="label label-primary">@ViewBag.ShoppingCartItemsCount</span></button>
            }

            <div id="shopping-cart-items-container" class="hidden"></div>
        </li>
        <li>
            <a href="/users/AddCustomerInfo" class="header-link">
                <i class="fa fa-user"></i>
            </a>
        </li>
        @using (Html.BeginForm<AccountController>(c => c.LogOff(), FormMethod.Post, null, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <li class="top-buffer"><input type="submit" value="Log off" class="link-button" /></li>
        }
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> <i class="fa fa-shopping-cart"></i><span class="label label-primary">@ViewData["ShoppingCartItemsCount"]</span></a></li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script>
    function showWindow(ev) {
        $('#shopping-cart-items-container').toggleClass('hidden');
    }
</script>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}