@model OnlineStore.Web.Models.ViewModels.Base.ShoppingCart.ShoppingCartItemViewModel

<li class="row list-group-item">
    <a href="/products/@Model.ProductId" title="Show details @Model.ProductName">
        @*TODO: Move styles to separate css*@
        <img alt="@Model.ProductName" src="@Url.Content(Model.ProductImagePath)" title="@Model.ProductName" width="50"/>
    </a>
    @Model.Count<span>x</span>
    <a class="name" href="/products/details/@Model.ProductId" title="@Model.ProductName">@Model.ProductName</a>
    @Model.ProductPrice
</li>
